// Color variables
$white: #FFFFFF;
$white05: rgba(255, 255, 255, 0.5);
$_fc: #FCFCFC;
$_db: #DBDBDB;
$_f9: #F9F9F9;
$_f2: #F2F2F2;
$_f5: #F5F5F5;
$_7b: #7B7B7B;
$_c7: #C7C7C7;
$_e8: #E8E8E8;
$_12: #121212;
$_f0: #F0F0F0;
$_dd: #DDDDDD;
$black1: #0A0B26;
$black2: #222025;
$black05: rgba(0, 0, 0, 0.5);
$fill: #767779;
